modules = ["nodejs-22"]
[agent]
expertMode = true
stack = "BEST_EFFORT_FALLBACK"

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[workflows.workflow.metadata]
outputType = "console"

[userenv]

[userenv.shared]
YT_DLP_PATH = "/nix/store/am2x1y1qyja0hbyjpffj7rcvycp9d644-yt-dlp-2025.6.30/bin/yt-dlp"
